[Unit]
Description={{ name }} Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ name }}
ExecStop=/usr/bin/docker stop -t 2 {{ name }}

[Install]
WantedBy=default.target
